.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: ghostwhite;
  margin-top: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
body{
  background-color: whitesmoke;
}
h2{
  text-align:center;
  font-style:italic;
}

.form-control {
  margin-bottom: 20px;
}

.label {
  display: block;
  margin-bottom: 5px;
}

.error {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.2rem;
}

input[type='email'],
input[type='password'] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button[type='submit'] {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type='submit']:hover {
  background-color: #0056b3;
}
.link {
  text-decoration: none;
  color: #007bff;
}

.link:hover {
  text-decoration: underline;
}
